<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="@Url.Action("Index", "Home")">DevDave.com</a>
        <ul class="nav">
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li><a href="http://devdave.com/Dave%20Stensgaard%20-%20Stack%20Overflow%20Resume.pdf" target="_blank">Resume</a></li>
            <li><a href="http://blog.devdave.com" target="_blank">Blog</a></li>
        </ul>
    </div>
</div>