<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="@Url.Action("Index", "Home")">DevDave.com</a>
        <ul class="nav">
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Resume", "Resume", "Home")</li>
            <li><a href="http://blog.devdave.com">Blog</a></li>
        </ul>
    </div>
</div>