@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="span12">
        <h3>About</h3>
    </div>
</div>
<div class="row">
    <div class="span8 well">
        <h5>About Me</h5>
        <p>My name is Dave Stensgaard and I am a professional software developer.  I feel like I am the luckiest guy because what I do for a living is what my passion is.  When I am not writing code at work I am normally playing around with something programming related at home.</p>
        <p>I spend much of my commute time to work listening to podcasts (<a href="http://www.dotnetrocks.com/" target="_blank">.Net Rocks,</a> <a href="http://www.hanselminutes.com/" target="_blank">Hanselminutes</a>, <a href="http://herdingcode.com/" target="_blank">Herding Code</a>, etc...).  My passion for writing code isn’t necessarily about the end product its more about the technologies, techniques and patterns used to create the end product.  A bad day for me is not learning something new.</p>
        <p>Email Address: <a href="mailto:info@devdave.com">info@devdave.com</a></p>
    </div>
    <div class="span3 well">
        <h5>About the site</h5>
        <ul>
            <li>Hosted in Windows Azure</li>
            <li>Technologies
                <ul>
                    <li>.NET 4.0</li>
                    <li>ASP.NET MVC 4</li>
                    <li>MS Test</li>
                </ul>
            </li>
            <li>Nuget Packages
                <ul>
                    <li>RouteMagic</li>
                    <li>StyleCop</li>
                    <li>Twitter Bootstrap</li>
                    <li>Moq</li>
                </ul>
            </li>
            <li>Source on <a href="https://github.com/devdaves/devdave.com" target="_blank">GitHub</a></li>
        </ul>
    </div>
</div>