@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="span12">
        <h3>About</h3>
    </div>
</div>
<div class="row">
    <div class="span8 well">
        <h5>About Me</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus dui at augue bibendum sed tincidunt eros mattis. Nullam pharetra congue tincidunt. Mauris varius sem vel risus ultrices sed facilisis nulla laoreet. Suspendisse aliquet arcu et justo venenatis posuere. Integer bibendum velit nec nisi facilisis tristique sed in leo. Integer tincidunt scelerisque turpis, eu accumsan arcu auctor eu. Quisque vulputate dui quis leo ullamcorper malesuada. Etiam consectetur tellus sed nulla blandit sollicitudin. Duis a sapien a ante dapibus imperdiet at eu mauris. Nam at mauris eu purus volutpat aliquam eget vel eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec sodales luctus eros, eu gravida mauris consequat sed.</p>
        <p>Maecenas lectus tortor, vehicula id cursus eu, porta in ipsum. Aliquam ornare consequat odio consectetur mattis. Mauris pulvinar, neque dignissim facilisis rutrum, leo ligula cursus est, cursus sagittis elit ante eget justo. Ut vel suscipit sapien. Nunc id faucibus sem. Curabitur non eros velit. Curabitur aliquet velit ut libero pretium imperdiet. Phasellus a enim nulla. Suspendisse luctus nulla dui, ac vehicula ante. Nam bibendum blandit enim eu ullamcorper. Phasellus orci est, molestie ut luctus sit amet, porttitor vitae ligula. Aliquam pretium quam id dui tincidunt vestibulum. Etiam sit amet orci vitae ligula posuere pharetra.</p>
    </div>
    <div class="span3 well">
        <h5>About the site</h5>
        <ul>
            <li>Hosted in Windows Azure</li>
            <li>Technologies
                <ul>
                    <li>.NET 4.0</li>
                    <li>ASP.NET MVC 4</li>
                    <li>MS Test</li>
                </ul>
            </li>
            <li>Nuget Packages
                <ul>
                    <li>RouteMagic</li>
                    <li>StyleCop</li>
                    <li>Twitter Bootstrap</li>
                    <li>Moq</li>
                </ul>
            </li>
            <li>Source on <a href="https://github.com/devdaves/devdave.com" target="_blank">GitHub</a></li>
        </ul>
    </div>
</div>