@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="span2">
        <img src="~/Content/images/devdave-avatar.png" />
    </div>
    <div class="span10">
        <h3>Welcome</h3>
        <p class="lead">
            DevDave.com is the personal website of Senior Software Development Engineer Dave Stensgaard living in Covington, Washington. With over 15 years of experience as a Software Developer I am presently employed as a Senior Software Development Engineer at <a href="http://www.groundspeak.com">Groundspeak.com</a>.
        </p>
    </div>
</div>
