@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="span3">
        <img src="~/Content/images/DevDaveFlipFace.jpg" />
    </div>
    <div class="span9">
        <h3>Welcome</h3>
        <p class="lead">
            DevDave.com is the personal website of Senior Software Engineer Dave Stensgaard living in Covington, Washington. With over 20 years of experience as a Software Engineer I am presently employed as a Senior Software Engineer at <a href="http://www.microsoft.com">Microsoft</a>.
        </p>
        <a href="http://www.facebook.com/profile.php?id=100000359364379" target="_blank" class="no-svg fc-webicon facebook" title="See me on Facebook">See me on Facebook</a>
        <a href="http://twitter.com/devdave" target="_blank" class="no-svg fc-webicon twitter" title="See me on Twitter">See me on Twitter</a>
        <a href="http://www.linkedin.com/pub/dave-stensgaard/0/a24/b16" target="_blank" class="no-svg fc-webicon linkedin" title="See me on Linked In">See me on Linked In</a>
        <a href="https://github.com/devdaves" target="_blank" class="no-svg fc-webicon github" title="See my code on GitHub">See my code on GitHub</a>
    </div>
</div>
