@{
    ViewBag.Title = "Resume";
}

<div class="row">
    <div class="span9">
        <h3>Resume</h3>
    </div>
    <div class="span3">
        <a href="#">Download</a>
    </div>
</div>
<div class="row">
    <div class="span12" style="text-align:center">
        <h3>Dave Stensgaard<br /><small>Kent WA 98042  info@devdave.com<br />
            Senior Software Development Engineer<br />
            Passion for Programming ~ Expert Troubleshooter</small></h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="span12 well">
        <h4>Summary of Qualifications</h4>
        <ul>
            <li>Excellent programming knowledge coupled with equally extensive background in networking both in Novel and Windows.</li>
            <li>Extensive experience in applying technical proficiency to improve business results.</li>
            <li>Thoroughly experienced in effectively handling many complex projects and deadlines simultaneously.</li>
            <li>Expert technical problem solver who thrives in challenging situations. Team player who likes to improve on the status quo.</li>
            <li>Designed and lead development in numerous successful projects.</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="span12 well">
        <h4>Technical Competencies</h4>
        <dl>
            <dt>Software Development:</dt>
            <dd>Visual Studio 2003 - 2012, Macromedia Dreamweaver, SQL Management Studio, Sourcegear Vault (Source Control), Visual Source Safe, TFS 2008/2010, Subversion, MSBuild</dd>
            <dt>Languages:</dt>
            <dd>VB, C# 2.0 – 4.5, TSQL, JavaScript, ASP, ASP.NET, jQuery</dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="span12 well">
        <h4> Professional Experience</h4>
        <dl>
            <dt>03/2011 - Current ~ Groundspeak ~ Sendior Software Development Engineer</dt>
            <dd>
                Provide development expertise in an effort to add new and maintain existing functionality with geocaching.com and other internal tools.
                <ul>
                    <li>Evangelize development patterns, techniques and practices across all of engineering.</li>
                    <li>Act as a technical lead on several projects.</li>
                    <li>Responsible as a change agent in regards to the engineering culture.</li>
                    <li>Member of the team responsible for re architecting, developing and deploying a new payment infrastructure on all web and mobile assets.</li>
                </ul>
            </dd>
            <dt>03/2009 - 03/2011 ~ Continuant ~ Sendior Software Developer Team Lead</dt>
            <dd>
                Accountable for providing development, deployment, testing, and source control processes. Created and lead a team of developers responsible for maintaining, upgrading and creating new internal applications.
                <ul>
                    <li>Authored multiple windows services written in C# 3.5 to solve complex business problems.</li>
                    <li>Leading the development process for implementing a new internal ERP web application written in ASP.NET, MVC 2, C# 4.0, jQuery and SQL 2008.</li>
                    <li>Replaced existing applications as new applications inside the internal ERP application written in ASP.NET, MVC 2, C# 4.0, jQuery and SQL 2008.</li>
                    <li>Designed and deployed a TFS 2008 and 2010 source control solution.</li>
                    <li>Implemented automated application build processes in TFS 2008 and 2010 using TFS build services.</li>
                    <li>Provided key expertise to obtain Microsoft Gold Partner and Microsoft ISV status.</li>
                    <li>Wrote a windows forms application in C# 3.5 and received Windows 7 certification to help obtain Microsoft ISV status.</li>
                </ul>
            </dd>
            <dt>04/2007 - 02/2009 ~ Guidant Financial Group ~ Senior Developer</dt>
            <dd>
                Brought on to convert a paper contract system to an electronic process facilitated through the company’s production web site. Showed team lead prowess by serving as the answer guy to technical problems encountered by other developers. Provided input in the interviewing process.
                <ul>
                    <li>Implement new and modify existing features in proprietary ERP web application and production Web Sites utilizing ASP.NET Web forms, C# 3.5 and SQL 2005.</li>
                    <li>Analyze and create a list of steps needed to implement a full blown continuous integration infrastructure.</li>
                    <li>Create and manage application build scripts with MSBuild.</li>
                    <li>Sales Force migration responsibilities:
                        <ul>
                            <li>Lead data migration from proprietary databases into Sales Force using a combination of SQL 2005 DTS packages, console applications and web services written in C# 2.0.</li>
                            <li>Enabled communication between Sales Force and internal workflow/billing application using Sales Force Apex code and web services written in C# 2.0.</li>
                        </ul>
                    </li>
                </ul>
            </dd>
            <dt>10/2002 - 04/2007 ~ Apex Wine & Sauna ~ Senior Developer</dt>
            <dd>
                Provided expertise in development and implementation of internal Intranet application designed to centralize management of all core functional business areas, including lead development, sales, accounting, scheduling, production and installation. Interface daily with business management team regarding technical solution development and implementation strategies. Spearhead development of multiple external Web applications to provide new service solutions to customers.
                <ul>
                    <li>Successfully streamlined entire sales cycle and slashed sales proposal development / delivery times to 2 – 3 days from previous 10 days as result of development and implementation of Intranet Application (ESP) written in classic ASP.</li>
                    <li>Lead several customer application development projects, including:
                        <ul>
                            <li>CellarSpace: Front-end communication application with login capabilities written in ASP.NET C# 2.0.</li>
                            <li>Wine Inventory: Web-based wine database integrated with wine inventory application for streamlined wine cellar management written in ASP.NET C# 2.0.</li>
                            <li>CellarTec: Designed computerized remote cooling system-monitoring application for customers’ wine cellars. Involved custom PLC (programmable logic controller) programming, windows services using C# 2.0 and an ASP.NET C# 2.0 web forms application.</li>
                            <li>CellarPod: Worked with R&D firm on development of monitoring application with capability of monitoring wine cellar without Apex cooling equipment.</li>
                        </ul>
                    </li>
                </ul>
            </dd>
            <dt>07-2001 - 10/2002 ~ Cohesion Marketing, Inc ~ Application Developer I / Network Specialist</dt>
            <dd>
                Accountable for providing LAN / WAN setup, maintenance, and troubleshooting along with technical support for MS SQL, Exchange, IIS, and MSMQ. Worked on team responsible for successful migration of servers to Windows 2000 network.
                <ul>
                    <li>Managed automated data drop from HP, including file cleaning using VB 6 Application and data import into SQL 2000 database, involving 100,000 data records / day in 200GB database.</li>
                    <li>Improved database performance by modifying VB 6 Application and updating SQL import procedures and table indexes.</li>
                    <li>Developed Web based application to query SQL 2000 database to exact HP specifications.</li>
                </ul>
            </dd>
            <dt>01/1998 - 07/2001 ~ Telecom Labs, Inc ~ Systems Engineer</dt>
            <dd>
                Provided networking and system engineering expertise on daily basis. Worked on team responsible for development of proprietary Web based operating system. Produced concepts and prototypes for internal and external Web and CRM projects, including database design and various business practice solutions and tools.
                <ul>
                    <li>Streamlined sales and accounting process flow as result of utilizing ASP (Active Server Pages) to centralize CRM Goldmine data into Intranet site for easy Web based access.</li>
                    <li>Completed enterprise-wide cleaning and reinstallation on all network machines and servers, involving Windows NT 4.0 and Windows 98.</li>
                    <li>Integrated MS Exchange 5.0 and Goldmine CRM, including toolbar development for Goldmine using AIM Basic that allowed for toolbar customization.</li>
                    <li>Installed and managed new EIC (Enterprise Interaction Center), using dialogic boards in Windows NT 4.0 server environment along with MS MSMQ, Exchange, SQL, and IDE call handler.</li>
                </ul>
            </dd>
        </dl>
    </div>
</div>
